@import "custom";
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: background-color .2s;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #808080;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #808080;
}

.overlay-enter {
  opacity: 0.01;
}
.overlay-enter-active {
  opacity: 1;
  transition: all .3s ease-in;
}
.overlay-exit {
  opacity: 1;
}
.overlay-exit-active {
  opacity: 0.01;
  transition: all .3s ease-in;
}


@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Regular.eot");
  src: url("../fonts/Vazir-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir-Regular.woff2") format("woff2"),
    url("../fonts/Vazir-Regular.woff") format("woff"),
    url("../fonts/Vazir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Bold.eot");
  src: url("../fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir-Bold.woff2") format("woff2"),
    url("../fonts/Vazir-Bold.woff") format("woff"),
    url("../fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Thin.eot");
  src: url("../fonts/Vazir-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir-Thin.woff2") format("woff2"),
    url("../fonts/Vazir-Thin.woff") format("woff"),
    url("../fonts/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Light.eot");
  src: url("../fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir-Light.woff2") format("woff2"),
    url("../fonts/Vazir-Light.woff") format("woff"),
    url("../fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Medium.eot");
  src: url("../fonts/Vazir-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir-Medium.woff2") format("woff2"),
    url("../fonts/Vazir-Medium.woff") format("woff"),
    url("../fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Black.eot");
  src: url("../fonts/Vazir-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir-Black.woff2") format("woff2"),
    url("../fonts/Vazir-Black.woff") format("woff"),
    url("../fonts/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}
body {
  font-family: vazir;
text-align: right;
direction: rtl;

}


.fnt-light {
  font-weight: 100;
}
.fnt-bold {
  font-weight: bold;
}

a {
  text-decoration: none !important;
}
